@media screen and (max-width: 900px) {
  * {
    box-sizing: border-box;
  }




  .list-container {
    width: 180px;
  }

  .list-container .list-item {
    font-size: 16px;
    padding: 5px 30px;
  }



  .header {
    padding: 15px;
  }

  .more-icon {
    height: 15px !important;
  }

  .Project-container {
    height: 35px;
  }

  .Project-top-year-container {
    display: flex;
    height: 30px;
    border-top: 1px dotted #262626;
    border-bottom: 1px dotted #262626;
    padding: 0px;
  }

  .Project-year-container {
    display: flex;
    height: 30px;
    border-bottom: 1px dotted #262626;
    padding: 0px;
  }

  .Project-year-container-category {
    font-family:sans-serif;
    font-size: 12px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
    width: 100%;
    min-width: 50px;
    align-items: center;
  }

  .Project-container-category {
    font-size: 12px;
    padding-right: 0px;
    width: 25%;
  }

  .Project-container-title {
    font-size: 12px;
    padding-right: 0px;
    min-width: 180px;
    width: 45%;
  }

  .Project-container-date {
    display: none;
  }

  .Project-container-subtitle {
    font-size: 12px;
    padding-right: 0px;
    width: 30%;
  }

  .Project-container-info {
    display: none;
  }

  .Event-container {
    height: 35px;
  }

  .Event-top-year-container {
    display: flex;
    height: 30px;
    border-top: 1px dotted #262626;
    border-bottom: 1px dotted #262626;
    padding: 0px;
  }

  .Event-year-container {
    display: flex;
    height: 30px;
    border-bottom: 1px dotted #262626;
    padding: 0px;
  }

  .Event-year-container-category {
    font-family:sans-serif;
    font-size: 12px;
    display: flex;
    padding-right:10px;
    flex-wrap: nowrap;
    margin: 0px;
    width: 100%;
    min-width: 50px;
    align-items: center;
  }

  .Event-container-category {
    font-size: 12px;
    padding-right: 0px;
    width: 25%;
  }

  .Event-container-title {
    font-size: 12px;
    padding-right: 0px;
    width: 45%;
  }

  .Event-container-date {
    display: none;
  }

  .Event-container-subtitle {
    font-size: 12px;
    padding-right: 0px;
    width: 30%;
  }

  .Event-container-info {
    display: none;
  }

  .About-link {
    width: 25%;
    justify-content: center;
    font-size: 14px;
  }

  .contents-title {
    font-size: 24px;
  }

  .contents-main-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .intro{
    max-width: 400px;
  }


  .outro{
    font-family:sans-serif;
    text-align: center;
    padding-bottom: 50px;
  }

  .link {
    text-align: center;
  }

  .profile{
    max-width: 300px;
  }

  .inner{
    max-width: 450px;
  }

  .event_small_img{
    max-width: 400px;
    max-height: 400px;
  }
